body {
  padding-top: 70px;
  background: url("../images/brazuca-blur.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.white {
  background-color: white;
}
.white-font {
  color: white;
  text-shadow: 4px 4px 5px rgba(81, 81, 81, 1);
}
.blur {
  border-radius: 7px;
  background: rgba(34, 34, 34, 0.75);
}
.small-container {
  padding: 20px;
}
.end-space {
  margin-bottom: 10px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.border-around {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.animate {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.animate.ng-leave,
.animate.ng-enter.animate-enter-active {
  opacity: 1;
}
.animate.ng-enter,
.animate.ng-leave.animate-leave-active {
  opacity: 0;
}

button.long{
width: 100%;
}


