<div class="container" ng-init="init()">
  <h2 class="white-font">Noticias Administrator</h2>
  <div class="table-responsive">

    <br/>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="query" placeholder="Filtrar...">
    </div>
    <br/>
    <div>
      <button class="btn btn-primary" data-title="New" data-toggle="modal" data-target="#new" ng-click="seleccionar({})" data-placement="top" rel="tooltip">Nuevo</button>
    </div>
    <br/>
    <table id="mytable" class="table table-bordred table-hover white">

      <thead>
        <th>
          <a href="" ng-click="predicate = 'id'; reverse=!reverse">ID</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'titulo'; reverse=!reverse">Titulo</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'tipo'; reverse=!reverse">Tipo</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'createdBy'; reverse=!reverse">Creador</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'dateCreated'; reverse=!reverse">Fecha</a>
        </th>
        <th>
          <a href="">Editar</a>
        </th>
        <th>
          <a href="">Eliminar</a>
        </th>
      </thead>
      <tbody>

        <tr ng-repeat="elem in elements | filter:query | orderBy:predicate:reverse  ">
          <td>#{{elem.id}}</td>
          <td>{{elem.titulo}}</td>
          <td>{{elem.tipo}}</td>
          <td>{{elem.createdBy}}</td>
          <td>{{dateService.toDate(elem.creationDate) | date:dateService.dateFormat}}</td>
          <td>
            <p>
              <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="seleccionar(elem)" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </p>
          </td>
          <td>
            <p>
              <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="seleccionar(elem)" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>
        </tr>

      </tbody>

    </table>
  </div>











  <!-- MODALS -->


  <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Crear noticia</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Titulo</label>
            <input ng-model="selected.titulo" class="form-control " type="text" placeholder="Titulo" />
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" required ng-model="selected.tipo">
              <option value="NEWS">NEWS</option>
              <option value="REVIEW">REVIEW</option>
            </select>
          </div>
          <div class="form-group">
            <label>Creador</label>
            <input ng-model="selected.createdBy" class="form-control " type="text" placeholder="Creado por..." />
          </div>
          <div class="form-group">
            <label>URL de la imagen</label>
            <input ng-model="selected.image" class="form-control " type="text" placeholder="url" />
          </div>
          <div>
            <label>Mensaje</label>
            <div text-angular ta-text-editor-class="border-around" ta-html-editor-class="border-around" ta-focussed-class="focussed" ng-model="selected.contenido"></div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success  btn-lg long" data-dismiss="modal" ng-click="create(selected)" />
          <span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>














  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Editar noticia</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Titulo</label>
            <input ng-model="selected.titulo" class="form-control " type="text" placeholder="Titulo" />
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" required ng-model="selected.tipo">
              <option value="NEWS">NEWS</option>
              <option value="REVIEW">REVIEW</option>
            </select>
          </div>
          <div class="form-group">
            <label>URL de la imagen</label>
            <input ng-model="selected.image" class="form-control " type="text" placeholder="url" />
          </div>
          <div class="form-group">
            <label>Creador</label>
            <input ng-model="selected.createdBy" class="form-control " type="text" placeholder="Creado por..." />
          </div>
          <div>
            <label>Mensaje</label>
            <div text-angular ta-text-editor-class="border-around" ta-html-editor-class="border-around" ta-focussed-class="focussed" ng-model="selected.contenido"></div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg long" data-dismiss="modal" ng-click="update(selected)">
          <span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Eliminar usuario</h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span>Estas seguro que desea eliminar esta noticia?</div>

        </div>
        <div class="modal-footer ">
          <button type="button" ng-click="delete(selected)" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span> Si</button>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->










  </div>