<div class="row">
  <div class="col-xs-3">
    <div class="list-group">
      <a href="" class="list-group-item" ng-click="show('usuarios.html')">Usuarios</a>
    </div>
  </div>
  <div class="col-xs-9">
  <div ng-include="template"></div>
  </div>

</div>


