<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4">
          <img src="images/logo-transparent.png" width="350px">
        </div>
        <div class="col-md-8">
          <h1>¡Comienza a cargar tu pron&oacute;stico!</h1>
          <p>¡Bienvenidos! El mundial lleg&oacute; a Red Hat y es tu momento para convertirte en el mejor jugador. Demu&eacute;stranos que eres la persona que m&aacute;s sabe de f&uacute;tbol y divi&eacute;rtete jugando. ¡Sólo una persona por pa&iacute;s podr&aacute; coronarse como el ganador del Red Hat Prode Mundial 2014!</p>
          <a class="btn btn-danger btn-large" href="#/pronostico">¡Empieza ya!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 white-font">
    <h2>Pron&oacute;stico</h2>
    <p>¿Qu&eacute; esperas para jugar? Empieza a cargar tu pron&oacute;stico. Puedes hacerlo hasta 15 minutos antes de cada partido.</p>
    <a class="btn btn-danger" href="#/pronostico">Mi pron&oacute;stico</a>
  </div>

  <div class="col-md-4 white-font">
    <h2>Ranking</h2>
    <p>Verifica en que posici&oacute;n del ranking te encuentras. ¡Puedes ser el pr&oacute;ximo ganador del Red Hat Prode 2014!</p>
    <a class="btn btn-danger" href="#/ranking">Ranking</a>
  </div>

  <div class="col-md-4 white-font">
    <h2>Reglamento</h2>
    <p>Aqu&iacute; encontrar&aacute;s definidas las bases y condiciones del juego, ¡no olvides echarle un vistazo!</p>
    <a class="btn btn-danger" href="#/reglamento">Reglamento</a>
  </div>
</div>
