<div class="alert alert-danger" ng-show="show">
  <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
  <strong>Oops!</strong>{{error}}
</div>

<form class="form-signin" ng-submit="submit()" role="form">
  <h2 class="form-signin-heading">Log In</h2>

  <div class="form-group">
    <input type="email" ng-model="email" required name="email" id="email" class="form-control input-lg" placeholder="Direcci&oacute;n de email" tabindex="4">
  </div>

  <div class="form-group">
    <input type="password" name="password" id="password" ng-model="password" required class="form-control input-lg" placeholder="Contrase&ntilde;a" tabindex="5">
  </div>

  <label class="checkbox">
    <input type="checkbox" value="remember-me">Recu&eacute;rdame
  </label>
  
  <div class="form-group">
    <a href="#/register">¿Todav&iacute;a no te registraste? ¡Apres&uacute;rate!</a>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Log in
    </button>
  </div>
</form>
