<div class="container" ng-init="init('news')">
  <h1 class="white-font">Noticias</h1>

  <div class="alert alert-danger" ng-show="show">
    <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
    <strong>Oops!</strong>{{error}}
  </div>




  <div class="blur white-font small-container end-space" ng-repeat="element in elements">
    <h1>{{element.titulo}}
      <small>por {{element.createdBy}}</small>
    </h1>
    <img ng-if="element.image" class="center" src="{{element.image}}" />
    <p ng-bind-html="trustAndGetContenido(element)"></p>
    <div>
      <span class="badge">Creado el {{dateService.toDate(element.creationDate) | date:dateService.dateFormat}}</span>
      <div class="pull-right">
        <span ng-if="element.tipo == 'NEWS'" class="label label-danger">{{element.tipo}}</span>
        <span ng-if="element.tipo == 'REVIEW'" class="label label-primary">{{element.tipo}}</span>
      </div>
    </div>
  </div>
</div>