
<div ng-controller="FixtureCtrl">
  <div class="row">
    <div class="col-md-6">
      <h1 class="white-font">
        <span class="glyphicon glyphicon-star"></span> Mi pronóstico</h1>

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <input type="radio" name="verPor" value="xGrupos" ng-model="verPor"> <label class="white-font">Grupos</label></input>
      <input class="white-font" type="radio" name="verPor" value="xFechas" ng-model="verPor"> <label class="white-font">Fechas</label></input>
    </div>
    <div class="col-md-2">
        <select 
          ng-model="grupoSeleccionado" 
          ng-options="grupo as grupo.name for grupo in grupos"
          ng-show="verPor == 'xGrupos'">
        </select>
        <select 
          ng-model="fechaSeleccionada" 
          ng-options="fecha as fecha.name for fecha in fechas"
          ng-show="verPor == 'xFechas'">
        </select>
    </div>
  </div>
  <div class="row">
    <span>&nbsp;</span>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <li class="list-group-item" ng-repeat="partido in partidos | filter:filterExpr" ng-controller="PronosticoCtrl">
        <div class="row">
          <div class="col-md-3">
            <h4 class="text-center">{{partido.ciudad}} - {{parseDate(partido.dia)}}</h4>
          </div>
          <div class="col-md-7 text-center">
            <div 
           	  class="btn btn-group btn-group-justified btn-group-lg" 
              ng-class="{disabled: 
              				isBlocked(partido.dia, datetime.value)?
              				true:false}" 
              data-toggle="buttons">
              <label 
                class="btn btn-default" 
                ng-class="{active: pronostico[partido.id].local}" 
                ng-click="setPronostico(partido.id, true, false, false)">
                <img ng-if="getIMG(partido.local)" src="images/banderas/{{getIMG(partido.local)}}" class="img-rounded" alt="Responsive image" style="width: 30px; height: 20px;">
                <input type="radio">{{partido.local}}
                	<strong
                	  ng-show="resultados[partido.id] && resultados[partido.id].acierto != -1 &&  resultados[partido.id].acierto != 'blocked'">
                	  -
                	  {{resultados[partido.id].local}}
                	</strong>
              </label>
              <label ng-if="isFaseDeGrupo(partido)"
              	class="btn btn-default" 
              	ng-class="{active: pronostico[partido.id].empate}" 
              	ng-click="setPronostico(partido.id, false, true, false)">
                <input type="radio" ng-if="isFaseDeGrupo(partido)">Empate
              </label>
              <label 
              	class="btn btn-default" 
              	ng-class="{active: pronostico[partido.id].visitante}" 
              	ng-click="setPronostico(partido.id, false, false, true)">
                <input type="radio">
                  <strong
                  ng-show="resultados[partido.id] && resultados[partido.id].acierto != -1 &&  resultados[partido.id].acierto != 'blocked'">
                  {{resultados[partido.id].visitante}}
                  -&nbsp;</strong>{{partido.visitante}}
                  <img ng-if="getIMG(partido.visitante)" src="images/banderas/{{getIMG(partido.visitante)}}" class="img-rounded" alt="Responsive image" style="width: 30px; height: 20px">
              </label>
            </div>
          </div>
          <div class="col-md-2">
          	<h4 class="text-center">
	          	<span 
	          	  class="text-danger"
	          	  ng-show="calcPronostico(partido.id)=='incorrecto'">
	          	  Fallaste
	          	</span>
	          	<span 
	          	  class="text-success"
	          	  ng-show="calcPronostico(partido.id)=='correcto'">
	          	  Acertaste
	          	</span>
	          	<span 
	          	  class="text-info"
	          	  ng-show="calcPronostico(partido.id)=='pendiente'">
	          	  Pendiente
	          	</span>
          	</h4>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>