<div class="container" ng-init="initialize()">
  <h2 class="white-font">Ranking</h2>
  <div class="table-responsive">

    <br/>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="query" placeholder="Filtrar por ranking...">
    </div>

    <br/>
    <table id="mytable" class="table table-bordred table-hover white">

      <thead>
        <th><a href="" ng-click="predicate = 'position'; reverse=!reverse" >Ranking</a></th>
        <th><a href=""  ng-click="predicate = 'firstName'; reverse=!reverse">Nombre</a></th>
        <th><a href=""  ng-click="predicate = 'lastName'; reverse=!reverse">Apellido</a></th>
        <th><a href=""  ng-click="predicate = 'country'; reverse=!reverse">Pa&iacute;s</a></th>
        <th><a href=""  ng-click="predicate = 'email'; reverse=!reverse">Email</a></th>
        <th><a href=""  ng-click="predicate = 'puntos'; reverse=!reverse">Puntos</a></th>
      </thead>
      <tbody>

        <tr ng-class="{ danger : itsMe(elem) }" ng-repeat="elem in elements | filter:query | orderBy:predicate:reverse  ">
          <td>#{{elem.position}}</td>
          <td>{{elem.firstName}}</td>
          <td>{{elem.lastName}}</td>
          <td>{{elem.country}}</td>
          <td>{{elem.email}}</td>
          <td>{{elem.puntos}}</td>
        </tr>

      </tbody>

    </table>
  </div>
</div>