<div class="container">

  <div class="alert alert-danger" ng-show="show">
    <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
    <strong>Oops!</strong>{{error}}
  </div>




  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" ng-submit="register()" role="form">
        <h2>Regístrate
          <small>Collaborate. Accelerate. Win.</small>
        </h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="user.firstName" required type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Nombre" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="user.lastName" required type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Apellido" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input ng-model="user.email" required type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4">
        </div>
        <div class="form-group">
        <select class="form-control input-lg"  required ng-model="user.country" ng-options="country for country in countries" tabindex="5">
          <option value="">-- Selecciona tu país --</option>
        </select>
           </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="user.password" type="password" required name="password" id="password" class="form-control input-lg" placeholder="Contrase&ntilde;a" tabindex="6">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ng-model="user.passwordConfirmation" type="password" required name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar Contrase&ntilde;a" tabindex="7">
            </div>
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <input type="submit" value="Register" class="btn btn-danger btn-block btn-lg" tabindex="7">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
