<div class="container" ng-init="init()">
  <h1 class="white-font">Tribuna</h1>

  <div class="alert alert-danger" ng-show="show">
    <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
    <strong>Oops!</strong>{{error}}
  </div>

   <div>
      <button class="btn btn-danger" data-title="New" data-toggle="modal" data-target="#new" data-placement="top" rel="tooltip">Nuevo grito</button>
    </div>
    <br/>
  
  <div class="blur white-font small-container end-space" ng-repeat="element in elements">
    <h1>{{element.titulo}}
      <small>por {{element.createdBy}}</small>
    </h1>
    <p ng-bind-html="trustAndGetContenido(element)"></p>
    <div>
      <span class="badge">Creado el {{dateService.toDate(element.creationDate) | date:dateService.dateFormat}}</span>
    </div>
  </div>
</div>



 <!-- MODALS -->


  <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Crear grito</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Titulo</label>
            <input ng-model="selected.titulo" class="form-control " type="text" placeholder="Titulo" />
          </div>
          <div>
            <label>Mensaje</label>
            <div text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]" ta-text-editor-class="border-around" ta-html-editor-class="border-around" ta-focussed-class="focussed" ng-model="selected.contenido"></div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg long" data-dismiss="modal"  ng-click="create(selected)">
          <span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
