<div ng-controller="UserController" ng-init="initialize()">
  <div>
    <h3>Usuarios</h3>
    <div class="table-responsive">


      <table id="mytable" class="table table-bordred table-striped">

        <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>

          <tr ng-repeat="elem in elements">
            <td>{{elem.id}}</td>
            <td>{{elem.firstName}}</td>
            <td>{{elem.lastName}}</td>
            <td>{{elem.email}}</td>
            <td>
              <p>
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </p>
            </td>
            <td>
              <p>
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </p>
            </td>
          </tr>

        </tbody>

      </table>

      <div class="clearfix"></div>
      <ul class="pagination pull-right">
        <li class="disabled">
          <a href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Editar usuario</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">

          <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">

          <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
          <span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Eliminar usuario</h4>
      </div>
      <div class="modal-body">

        <div class="alert alert-warning">
          <span class="glyphicon glyphicon-warning-sign"></span>Estas seguro que desea eliminar este usuario?</div>

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-ok-sign"></span> Si</button>
        <button type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
