<!DOCTYPE html>
<html ng-app="tsubasaApp">

<head>
  <meta charset="utf-8">
  <title>Red Hat Prode Mundial 2014</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/tsubasa.css" type="text/css" />
  <link rel="stylesheet" href="components/angular-loading-bar/build/loading-bar.css" type="text/css" />
  <link rel="stylesheet" href="components/fontawesome/css/font-awesome.css" type="text/css" />

  <script src="components/jquery/dist/jquery.min.js" type="application/javascript"></script>
  <script src="components/bootstrap/dist/js/bootstrap.js" type="application/javascript"></script>
  <script src="components/angular/angular.js" type="application/javascript"></script>
  <script src="components/angular-route/angular-route.min.js" type="application/javascript"></script>
  <script src="components/angular-resource.min.js" type="application/javascript"></script>
  <script src="components/restangular/dist/restangular.js" type="application/javascript"></script>
  <script src="components/underscore/underscore.js" type="application/javascript"></script>
  <script src="components/angular-loading-bar/build/loading-bar.js" type="application/javascript"></script>
  <script src="components/angular-animate/angular-animate.js" type="application/javascript"></script>
  <script src="components/textAngular/dist/textAngular-sanitize.min.js" type="application/javascript"></script>
  <script src="components/textAngular/dist/textAngular.min.js" type="application/javascript"></script>


  <script type="text/javascript" src="js/services/config.js"></script>
  <script type="text/javascript" src="js/configuration/configuration.js"></script>
  <script type="text/javascript" src="js/login/login.js"></script>
  <script type="text/javascript" src="js/resultados/resultados.js"></script>
  <script type="text/javascript" src="js/news/news.js"></script>
  <script type="text/javascript" src="js/user/users.js"></script>
  <script type="text/javascript" src="js/tribuna/tribuna.js"></script>
  <script type="text/javascript" src="js/ranking/ranking.js"></script>
  <script type="text/javascript" src="js/register/register.js"></script>
  <script type="text/javascript" src="js/services/security.js"></script>
  <script type="text/javascript" src="js/services/user.js"></script>
  <script type="text/javascript" src="js/application/application.js"></script>

  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>

</head>

<body ng-controller="ApplicationController">
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">
          <img src="images/logo-transparent.png" height="25px"> Red Hat Prode Mundial 2014</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: isActive('pronostico')}" ng-if="canShowElement()">
            <a href="#/pronostico">Mi Pronóstico</a>
          </li>
          <li ng-class="{active: isActive('noticias')}" ng-if="canShowElement()">
            <a href="#/noticias">Noticias</a>
          </li>
           <li ng-class="{active: isActive('tribuna')}" ng-if="canShowElement()">
            <a href="#/tribuna">Tribuna</a>
          </li>
          <li ng-class="{active: isActive('ranking')}" ng-if="canShowElement()">
            <a href="#/ranking">Ranking</a>
          </li>
          <li ng-class="{active: isActive('reglamento')}" ng-if="canShowElement()">
            <a href="#/reglamento">Reglamento</a>
          </li>
          <li ng-class="{active: isActive('login')}" ng-if="!user.isLogged()">
            <a href="#/login">Login</a>
          </li>
          <li ng-show="user.isLogged()">
            <a class="red" href="#" ng-click="logout()">
              {{user.getEmail()}}
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-view class="container animate"></div>


</body>

</html>