<div class="container" ng-init="init()">
  <h2 class="white-font">Resultados Administrator</h2>
  <div class="table-responsive">

    <br/>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="query" placeholder="Filtrar...">
    </div>
    <br/>
    <div>
      <button class="btn btn-primary" data-title="New" data-toggle="modal" data-target="#new" ng-click="seleccionar({})" data-placement="top" rel="tooltip">Nuevo</button>
    </div>
    <br/>
    <table id="mytable" class="table table-bordred table-hover white">

      <thead>
        <th>
          <a href="" ng-click="predicate = 'id'; reverse=!reverse">ID</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'acierto'; reverse=!reverse">Acierto</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'partidoId'; reverse=!reverse">Partido ID</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'local'; reverse=!reverse">Local</a>
        </th>
        <th>
          <a href="" ng-click="predicate = 'visitante'; reverse=!reverse">Visitante</a>
        </th>
        <th>
          <a href="">Editar</a>
        </th>
      </thead>
      <tbody>

        <tr ng-repeat="elem in elements | filter:query | orderBy:predicate:reverse  ">
          <td>#{{elem.id}}</td>
          <td>{{elem.acierto}}</td>
          <td>{{elem.partidoID}}</td>
          <td>{{elem.local}}</td>
          <td>{{elem.visitante}}</td>
          <td>
            <p>
              <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#new" ng-click="seleccionar(elem)" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </p>
          </td>
        </tr>

      </tbody>

    </table>
  </div>











  <!-- MODALS -->


  <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title custom_align" id="Heading">Resultado</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Acierto</label>
            <select class="form-control" required ng-model="selected.acierto">
              <option value="blocked">Blocked</option>
              <option value="local">Local</option>
              <option value="visitante">Visitante</option>
              <option value="empate">Empate</option>
            </select>
          </div>
          <div class="form-group">
            <label>Partido ID</label>
            <input ng-model="selected.partidoID" class="form-control " type="text" placeholder="Partido ID" />
          </div>
          <div class="form-group">
            <label>Local</label>
            <input ng-model="selected.local" class="form-control " type="text" placeholder="Local" />
          </div>
          <div class="form-group">
            <label>Visitante</label>
            <input ng-model="selected.visitante" class="form-control " type="text" placeholder="Visitante" />
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success  btn-lg long" data-dismiss="modal" ng-click="create(selected)" />
          <span class="glyphicon glyphicon-ok-sign"></span> Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>






  </div>